<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<main>
  <div class="container text-center mb-4 "  >
    <form action="/add" method="post" th:object="${recipeToCreate}">
      <a href="/" class="nav-link active text-danger"><-Powrót do strony głównej</a>

      <div class="mb-3">

        <label for="category" class="form-label">Kategoria</label>
        <select class="form-select" id="category" th:field="*{category}">
          <option value="" th:disabled="disabled" th:selected="selected">Brak</option>

          <option th:each="category : ${T(pl.javastart.recipeapp.recipe.RecipeCategory).values()}"
                  th:value="${category}"
                  th:text="${category.description}">
            nazwa_kategorii
          </option>

        </select>

        <div class="mb-3">
          <label for="image" class="form-label">Dodaj zdjęcie</label>
          <input type="file" id="image" name="image" th:field="*{imageAddress}" >
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Tytuł</label>
          <input placeholder="Tytuł" type="text" class="form-control" id="title" th:field="*{name}">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Opis</label>
          <input placeholder="Opis"  type="text" class="form-control" id="description" th:field="*{description}">
        </div>

        <div class="mb-3">
          <label for="timing" class="form-label">Szacowany czas przygotowania</label>
          <input type="number" class="form-control" id="timing" th:field="*{timing}">
        </div>

        <div class="mb-3">
          <label for="priority" class="form-label">Przepis</label>
          <textarea placeholder="Zacznij pisać" class="form-control" id="priority" th:field="*{text}"></textarea>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary mb-3">Dodaj</button>
        </div>
      </div>
    </form>
  </div>
</main>

</body>
</html>