<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div style="margin: auto">
    <h1 class="h1" th:text="${category.description}">nazwa kategorii</h1>
    <hr>
    <img class="img" th:src="${category.imageAddress}" alt="LogoCategory" width="pixels" h>
    <hr>
    <p class="text" th:text="${category.text}"></p>
    <hr>
</div>

<div>
    <ul class="recipesList" >
        <li class="recipeCard" th:each="recipe: ${recipeList}">
            <img class="recipeCard_img" th:src="${recipe.imageAddress}" />
            <h2 class="recipeCard_title" th:text="|${recipe.name}|">Przepis 1</h2>
            <p class="recipeCard_description" th:text="${recipe.description}">card destription</p>
            <a class="like" th:href="|main/like/${recipe.id}|">Polub!</a>
            <p class="recipeCard_description" th:text="|${recipe.likes} polubień|"><small >x likes</small></p>
            <a class="link" th:href="|/recipe?id=${recipe.id}|">Zobacz</a></br>
        </li>
    </ul>

</div>
</body>
</html>