<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Mniam Mniam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div th:fragment="header">
    <div class="mainHeader">
        <h1 ><a th:href="@{/}"><img th:src="@{cover-logo.png}" alt="Logo" width="200" height="100"></a></h1>
        <nav class="siteNavigation">
            <ul>
                <li><a class="element1" th:href="@{/list}">Wszystkie przepisy</a></li>
                <li><a class="element1" th:href="@{/add}">Dodaj przepis</a></li>
                <li class="nav-item dropdown">
                    <a class="element1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategorie &#9660;
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link active" style="color: black" th:each="category : ${categories}"
                           th:href="|@{/category?id=}${category.id}|"  th:text="${category.nameInPL}" >Śniadanie</a>
                    </div>
                </li>
            </ul>
        </nav>
        <img class="backgroundImage"/>
    </div>
</div>

<div class="container mt-5" th:fragment="list">
    <div class="card-deck row ">
        <div class="col-lg-4 " th:each="recipe: ${recipes}">
            <a class="link" th:href="|@{/recipe?id=}${recipe.id}|">
                <div class="card mb-3 card h-100">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img th:src="${recipe.imageAddress}" class="card-img-top embed-responsive-item" alt="...">
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title" th:text="|${recipe.name}|">Card title</h5>
                        <p class="card-text text-truncate" th:text="${recipe.description}">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <small class="text-muted" th:text="|${recipe.likes} polubień|">Last updated 3 mins ago</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>