<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div>
    <article style="margin: 50px">
        <div style="margin: auto">
            <div style="margin-left: 200px; margin-right: 400px;" class="d-flex justify-content-center">
                <img class="img" style="flex: 50% 0 1" th:src="${recipe.imageAddress}" alt="LogoCategory" width="pixels" h>
                <div style="flex: 50% 0 1; justify-content: center">
                    <h1 class="display-4 h1" th:text="|${recipe.name}|">Lorem ipsum nemipsum</h1>
                    <p class="text-center" th:text="|Szacowany czas przygotowania ${recipe.timing} minut, poziom trudności: ${recipe.difficultyLevel.description}|"></p>
                    <p class="lead" th:text="${recipe.description}">Lorem ipsum descripsum</p>
                </div>
            </div>
        <hr>
        <p th:text="${recipe.text}">Lorem ispum textum</p>
        <hr class="my-4">
        <p class="lead">
            <span th:if="${recipe.editTime == null}" th:text="|Dodano ${recipe.addTime.toString().replace('T', ' ')}|">Lorem ispum Datum></span>
            <span th:unless="${recipe.editTime == null}" th:text="|Edytowano ${recipe.editTime.toString().replace('T', ' ')}|">Lorem ispum Datum</span>
        </p>


        </span>


        <h5>Autor</h5>
        <p th:text="${recipe.firstAndLastNameOfAuthor}">Lorem ispum textum</p>
        </p>
        <a class="like" th:href="|@{/like/}${recipe.id}|">Polub przepis</a></br>
        <td> <a th:href="|@{/add?id=}${recipe.id}|" >EDYTUJ</a> </td>
        <td> <a th:href="|@{/delete?id=}${recipe.id}|" >USUŃ</a> </td>
    </div>
    </article>
</div>
</body>
</html>